<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPTArticleGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPTArticleGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GPTArticleGen.Properties.Settings>
            <setting name="BasicPrompt" serializeAs="String">
                <value>Napisz artykuł na temat \"{title}\" na 1500 do 2000 znaków, artykuł podziel na części  Title:, Content:, Meta title, Meta description, Meta tags:. Gdzie w Content znajduje się cała treść. Nie dodawaj nic poza tym, wszystko musi znajdować się w jednej z tych części. Nie zapomnij o Meta tags na końcu!!!! Gdzie używasz nagłówka użyj &lt;h2&gt;&lt;/h2&gt;, gdzie podgrubienie &lt;strong&gt;&lt;/strong&gt;, a nowy paragraf (np. po nagłówku) itp.</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultPrompt" serializeAs="String">
                <value>Napisz artykuł na temat \"{title}\" na 1500 do 2000 znaków, artykuł podziel na części  Main Title:, Content:, Meta title, Meta description, Meta tags:. Gdzie w Content znajduje się cała treść. Nie dodawaj nic poza tym, wszystko musi znajdować się w jednej z tych części. Gdzie używasz nagłówka użyj &lt;h2&gt;&lt;/h2&gt;, gdzie podgrubienie &lt;strong&gt;&lt;/strong&gt;, a nowy paragraf (np. po nagłówku) itp.</value>
            </setting>
            <setting name="ImagesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateNewFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleName" serializeAs="String">
                <value>Main Title:</value>
            </setting>
            <setting name="ContentName" serializeAs="String">
                <value>Content:</value>
            </setting>
            <setting name="MetaTagsName" serializeAs="String">
                <value>Meta Tags:</value>
            </setting>
            <setting name="MetaTitleName" serializeAs="String">
                <value>Meta Title:</value>
            </setting>
            <setting name="MetaDescriptionName" serializeAs="String">
                <value>Meta Description:</value>
            </setting>
            <setting name="AddTime" serializeAs="String">
                <value>False</value>
            </setting>
        </GPTArticleGen.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GPTArticleGen.Properties.Settings>
            <setting name="DefaultRetries" serializeAs="String">
                <value>5</value>
            </setting>
        </GPTArticleGen.Properties.Settings>
    </applicationSettings>
</configuration>